In [216]:
#PRE PROCESSING AND TRAINING DATA

In [217]:
import os
import pandas as pd
import datetime
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

In [218]:
covid_data1 = pd.read_csv('C:\\Users\\Admin/covid_data1_cleaned.csv')

In [219]:
covid_data3 = pd.read_csv('C:\\Users\\Admin/covid_data3_cleaned.csv')

In [220]:
vac_data = pd.read_csv('C:\\Users\\Admin/vac_data_cleaned.csv')

In [221]:
covid_data1.head()

         date        state    fips  cases  deaths
0  2020-03-08  Connecticut  9001.0      1     0.0
1  2020-03-09  Connecticut  9001.0      2     0.0
2  2020-03-10  Connecticut  9001.0      2     0.0
3  2020-03-11  Connecticut  9001.0      3     0.0
4  2020-03-12  Connecticut  9001.0      5     0.0

In [222]:
covid_data1.dropna()

             date        state     fips  cases  deaths
0      2020-03-08  Connecticut   9001.0      1     0.0
1      2020-03-09  Connecticut   9001.0      2     0.0
2      2020-03-10  Connecticut   9001.0      2     0.0
3      2020-03-11  Connecticut   9001.0      3     0.0
4      2020-03-12  Connecticut   9001.0      5     0.0
...           ...          ...      ...    ...     ...
21724  2020-12-05     New York  36115.0    483    14.0
21725  2020-12-05     New York  36117.0   1347    19.0
21726  2020-12-05     New York  36119.0  53943  1527.0
21727  2020-12-05     New York  36121.0    668     9.0
21728  2020-12-05     New York  36123.0    297     7.0

[20923 rows x 5 columns]

In [223]:
covid_data1 = covid_data1[["state", "date", "cases", "deaths"]]
covid_data1

             state        date  cases  deaths
0      Connecticut  2020-03-08      1     0.0
1      Connecticut  2020-03-09      2     0.0
2      Connecticut  2020-03-10      2     0.0
3      Connecticut  2020-03-11      3     0.0
4      Connecticut  2020-03-12      5     0.0
...            ...         ...    ...     ...
21724     New York  2020-12-05    483    14.0
21725     New York  2020-12-05   1347    19.0
21726     New York  2020-12-05  53943  1527.0
21727     New York  2020-12-05    668     9.0
21728     New York  2020-12-05    297     7.0

[21729 rows x 4 columns]

In [224]:
covid_data1.dtypes

state      object
date       object
cases       int64
deaths    float64
dtype: object

#SPLIT TRAIN

In [225]:
# first we import the preprocessing package from the sklearn library
from sklearn import preprocessing

# Declare an explanatory variable, called X,and assign it the result of dropping 'date','state' and 'deaths' from the df
X = covid_data1.drop(['date', 'state', 'deaths'], axis = 1)

# Declare a response variable, called y, and assign it the cases column of the covid_data1 
y = covid_data1['deaths'] 

# Here we use the StandardScaler() method of the preprocessing package, and then call the fit() method with parameter X 
scaler = preprocessing.StandardScaler().fit(X)

# Declare a variable called X_scaled, and assign it the result of calling the transform() method with parameter X 
X_scaled=scaler.transform(X)

In [226]:
X.shape

(21729, 1)

In [227]:
y.shape

(21729,)

In [228]:
#MODELLING COVID_DATA1

In [229]:
# Import the train_test_split function from the sklearn.model_selection utility.  
from sklearn.model_selection import train_test_split

# Get the 1-dimensional flattened array of our response variable y by calling the ravel() function on y
y = y.ravel()

# Call the train_test_split() function with the first two parameters set to X_scaled and y 
# Declare four variables, X_train, X_test, y_train and y_test separated by commas 
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=1)

In [230]:
X_train.shape

(16296, 1)

In [231]:
X_test.shape

(5433, 1)

In [232]:
y_train.shape

(16296,)

In [233]:
y_test.shape

(5433,)

In [234]:
#Linear Regresion model
from sklearn import linear_model
from sklearn.metrics import explained_variance_score,mean_absolute_error
lm = linear_model.LinearRegression()
model = lm.fit(X_train,y_train)

In [235]:
# Make a variable called y_pred and assign it the result of calling predict() on our model variable with parameter X_test
y_pred = model.predict(X_test)

In [236]:
y_pred.mean()

462.7869265699886

In [237]:
# You might want to use the explained_variance_score() and mean_absolute_error() metrics.
# To do so, you will need to import them from sklearn.metrics. 
# You can plug y_test and y_pred into the functions to evaluate the model
from sklearn.metrics import explained_variance_score
evs = explained_variance_score(y_test, y_pred)
evs

0.9577012449969308

In [238]:
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(y_test, y_pred)
mae

227.1690806543866

In [239]:
model.intercept_

-134.43557123933186

In [240]:
# You might want to make a pandas DataFrame displaying the coefficients for each state like so: 
pd.DataFrame(abs(lm.coef_), X.columns, columns=['Coefficient']).sort_values(by = ['Coefficient'], ascending = False)

       Coefficient
cases     0.090052

In [241]:
# Rebuid model without the 'state' columns
X_train_2= X_train.loc[:,~X_train.columns.str.startswith('state')]
X_test_2= X_test.loc[:,~X_test.columns.str.startswith('state')]
X_train_2.shape

(16296, 1)

In [242]:
y_train.shape

(16296,)

In [243]:
y_test.shape

(5433,)

In [244]:
#Apply Linear Regresion model on the updated dataframe without state columns
from sklearn import linear_model
from sklearn.metrics import explained_variance_score,mean_absolute_error
lm = linear_model.LinearRegression()
model_2 = lm.fit(X_train_2,y_train)

In [245]:
# Make a variable called y_pred_2 and assign it the result of calling predict() on our model variable with parameter X_test_2
y_pred_2 = lm.predict(X_test_2)
y_pred_2

array([-105.16857601, -122.81882544, -101.29632741, ..., -105.61883747,
       -122.99893003, -111.92249798])

In [246]:
# You might want to use the explained_variance_score() and mean_absolute_error() metrics.
# To do so, you will need to import them from sklearn.metrics. 
# You can plug y_test and y_pred into the functions to evaluate the model
from sklearn.metrics import explained_variance_score
evs_2 = explained_variance_score(y_test, y_pred_2)
evs_2

0.9577012449969308

In [247]:
from sklearn.metrics import mean_absolute_error
mae_2 = mean_absolute_error(y_test, y_pred_2)
mae_2

227.1690806543866

In [248]:
# You might want to make a pandas DataFrame displaying the coefficients for each state like so: 
pd.DataFrame(abs(lm.coef_), X_train_2.columns, columns=['Coefficient']).sort_values(by = ['Coefficient'], ascending = False)

       Coefficient
cases     0.090052

In [249]:
#Identify the Final Model

#Model Selection:

#Model	Explained Variance	Mean Absolute Error	Features Dropped
#Model 1.	0.9577012449969308	227.1690806543866 	-date, state, deaths dropped
#Model 2.	0.9577012449969308	227.1690806543866---'state' dropped

#Conclusion Model both 1 and 2 are the best model since due to same explained variance and same mean absolute error.