In [1]:
import os
import pandas as pd
import datetime
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

In [2]:
os.getcwd()

'C:\\Users\\Admin'

In [3]:
os.listdir()

['-Copy1.ipynb',
 '.anaconda',
 '.conda',
 '.condarc',
 '.fcc',
 '.gitconfig',
 '.ipynb',
 '.ipynb_checkpoints',
 '.ipython',
 '.jupyter',
 '.matplotlib',
 '._.DS_Store',
 '._DS_Store',
 '._Frequentist Inference Case Study - Part A (3).ipynb',
 '._Frequentist Inference Case Study - Part B (2).ipynb',
 '._insurance2.csv',
 '011_first_notebook.ipynb',
 '01_first_notebook-Copy1.ipynb',
 '01_first_notebook.ipynb',
 '01_first_noteboook.ipynb',
 '02_data_wrangling sada1.ipynb',
 '02_numpy_matplotlib.ipynb',
 '03.10-Working-With-Strings.ipynb',
 '03_exploratory_data_analysis1.ipynb',
 '04_preprocessing_and_training sada1.ipynb',
 '04_preprocessing_and_training.ipynb',
 '05_modeling.ipynb',
 '05_modelling .ipynb',
 '1581459544_Unit_4_Challenge_-_Tier_3.ipynb (1)',
 '3D Objects',
 'anaconda3',
 'api_data_wrangling_mini_project updated.ipynb',
 'AppData',
 'Application Data',
 'cancer_cervical.csv',
 'capstone two data wrangling.ipynb',
 'cervical c.ipynb',
 'check.ipynb',
 'Contacts',
 'Cookies',
 'CosineSimilarityCaseStudy',
 'Covid 19 pre-processing and training.ipynb',
 'Covid US CT-NY-MA.ipynb',
 'Covid19.png',
 'Crime Data USA 2019.csv sada.ipynb',
 'csv.ipynb',
 'data',
 'db.rsp',
 'Desktop',
 'Documents',
 'Downloads',
 'E3B8562DC9D54D90A2DF1C66C1FDB932.TMP',
 'Favorites',
 'Feb_Py_Prj_20.ipynb',
 'figures',
 'first.py',
 'good try.ipynb',
 'Google Drive',
 'googleplaystore.csv',
 'googleplaystore_user_reviews.csv',
 'Guided Capstone Project Report sada.ipynb',
 'Heart problem vs diabetes.ipynb',
 'heart_failure_clinical_records_dataset.csv',
 'hello_world.xlsx',
 'insurance2.csv',
 'IntelGraphicsProfiles',
 'Introduction.ipynb',
 'license.txt',
 'Links',
 'Local Settings',
 'Logistic Regression Advanced Case Study.ipynb',
 'london pjt.ipynb',
 'london.ipynb',
 'meteorites.ipynb',
 'MicrosoftEdgeBackups',
 'models',
 'model_pickle',
 'Music',
 'My Documents',
 'myfirst_project.ipynb',
 'NetHood',
 'NTUSER.DAT',
 'ntuser.dat.LOG1',
 'ntuser.dat.LOG2',
 'NTUSER.DAT{8086dd09-706d-11eb-a317-e19848bbad49}.TM.blf',
 'NTUSER.DAT{8086dd09-706d-11eb-a317-e19848bbad49}.TMContainer00000000000000000001.regtrans-ms',
 'NTUSER.DAT{8086dd09-706d-11eb-a317-e19848bbad49}.TMContainer00000000000000000002.regtrans-ms',
 'ntuser.ini',
 'OneDrive',
 'Oracle',
 'panda.ipynb',
 'pandasGraph.ipynb',
 'Pandas_api_read_Corona.ipynb',
 'Panda_Example_Graph_csv.ipynb',
 'Pictures',
 'pract 1-Copy1.ipynb',
 'pract 1.ipynb',
 'Prakash_Example.ipynb',
 'PrintHood',
 'Project Files',
 'Python-Matlab-Graph.ipynb',
 'py_alchemey_sql_server_ex.ipynb',
 'Read_Jason.ipynb',
 'Recent',
 'rough 2.ipynb',
 'rough project.ipynb',
 'S02_data_wrangling.ipynb',
 'S03_exploratory_data_analysis.ipynb',
 'S04- S05 preprocessing and training data devpmt  -Model.ipynb',
 'S06 Documentation.ipynb',
 'sample.xlsx',
 'Saved Games',
 'Searches',
 'SendTo',
 'site.py',
 'ski_data',
 'ski_data_cleaned_v1.csv',
 'ski_data_step3_features.csv',
 'ski_resort_data.csv',
 'ski_resort_pricing_model',
 'ski_resort_pricing_model.csv',
 'ski_resort_pricing_model.pkl',
 'Sound-London Borough.ipynb',
 'soundarya-project.ipynb',
 'sqlalchemy.ipynb',
 'SQLFiles Tier 1',
 'SQLFiles Tier 2',
 'SQL_Server_Connection.ipynb',
 'sql_server_connection_python.ipynb',
 'SSpringboard Regression Case Study - the Red Wine Dataset - Tier 3.ipynb',
 'SSSpringboard Apps project - Tier 3 - Complete.ipynb',
 'SSSpringboard Regression Case Study - the Red Wine Dataset - Tier 3.ipynb',
 'Start Menu',
 'state_summary_v1.csv',
 'step2_output.csv',
 'Success.ipynb',
 'Templates',
 'Unit 4 Challenge - Tier 1.ipynb',
 'Untitled Folder',
 'Untitled10.ipynb',
 'Untitled11.ipynb',
 'Untitled12.ipynb',
 'Untitled13.ipynb',
 'Untitled14.ipynb',
 'Untitled15.ipynb',
 'Untitled2.ipynb',
 'Untitled3.ipynb',
 'Untitled4.ipynb',
 'Untitled5.ipynb',
 'Untitled6.ipynb',
 'Untitled7.ipynb',
 'Untitled8.ipynb',
 'Untitled9.ipynb',
 'US Covid .ipynb',
 'us_counties_covid19_daily.csv',
 'us_covid19_daily.csv',
 'us_states_covid19_daily.csv',
 'us_state_vaccinations.csv',
 'Videos',
 'Week 3.ipynb',
 'xl_from_sql_pandas.ipynb',
 'XL_OpenPyExcel.ipynb',
 'XL_XLSWRITER.ipynb',
 '__MACOSX']

In [4]:
filename = 'C:\\Users\\Admin/ski_data_step3_features.csv'
df = pd.read_csv(filename)

df.head(5)

,Name,Region,state,summit_elev,vertical_drop,base_elev,trams,fastEight,fastSixes,fastQuads,...,resorts_per_100ksq_mile,resort_skiable_area_ac_state_ratio,resort_days_open_state_ratio,resort_terrain_park_state_ratio,resort_night_skiing_state_ratio,total_chairs_runs_ratio,total_chairs_skiable_ratio,fastQuads_runs_ratio,fastQuads_skiable_ratio,Runs_skiable_ratio
0,Alyeska Resort,Alaska,Alaska,3939,2500,250,1,0.0,0,2,...,0.450867,0.706140,0.434783,0.500000,0.948276,0.092105,0.004348,0.026316,0.001242,0.047205
1,Eaglecrest Ski Area,Alaska,Alaska,2600,1540,1200,0,0.0,0,0,...,0.450867,0.280702,0.130435,0.250000,NaN,0.111111,0.006250,0.000000,0.000000,0.056250
2,Hilltop Ski Area,Alaska,Alaska,2090,294,1796,0,0.0,0,0,...,0.450867,0.013158,0.434783,0.250000,0.051724,0.230769,0.100000,0.000000,0.000000,0.433333
3,Arizona Snowbowl,Arizona,Arizona,11500,2300,9200,0,0.0,1,0,...,1.754540,0.492708,0.514768,0.666667,NaN,0.145455,0.010296,0.000000,0.000000,0.070785
4,Sunrise Park Resort,Arizona,Arizona,11100,1800,9200,0,NaN,0,1,...,1.754540,0.507292,0.485232,0.333333,1.000000,0.107692,0.008750,0.015385,0.001250,0.081250

In [5]:
df = df.interpolate()
df.head(5)

,Name,Region,state,summit_elev,vertical_drop,base_elev,trams,fastEight,fastSixes,fastQuads,...,resorts_per_100ksq_mile,resort_skiable_area_ac_state_ratio,resort_days_open_state_ratio,resort_terrain_park_state_ratio,resort_night_skiing_state_ratio,total_chairs_runs_ratio,total_chairs_skiable_ratio,fastQuads_runs_ratio,fastQuads_skiable_ratio,Runs_skiable_ratio
0,Alyeska Resort,Alaska,Alaska,3939,2500,250,1,0.0,0,2,...,0.450867,0.706140,0.434783,0.500000,0.948276,0.092105,0.004348,0.026316,0.001242,0.047205
1,Eaglecrest Ski Area,Alaska,Alaska,2600,1540,1200,0,0.0,0,0,...,0.450867,0.280702,0.130435,0.250000,0.500000,0.111111,0.006250,0.000000,0.000000,0.056250
2,Hilltop Ski Area,Alaska,Alaska,2090,294,1796,0,0.0,0,0,...,0.450867,0.013158,0.434783,0.250000,0.051724,0.230769,0.100000,0.000000,0.000000,0.433333
3,Arizona Snowbowl,Arizona,Arizona,11500,2300,9200,0,0.0,1,0,...,1.754540,0.492708,0.514768,0.666667,0.525862,0.145455,0.010296,0.000000,0.000000,0.070785
4,Sunrise Park Resort,Arizona,Arizona,11100,1800,9200,0,0.0,0,1,...,1.754540,0.507292,0.485232,0.333333,1.000000,0.107692,0.008750,0.015385,0.001250,0.081250

In [6]:
df.dtypes

Name                                   object
Region                                 object
state                                  object
summit_elev                             int64
vertical_drop                           int64
base_elev                               int64
trams                                   int64
fastEight                             float64
fastSixes                               int64
fastQuads                               int64
quad                                    int64
triple                                  int64
double                                  int64
surface                                 int64
total_chairs                            int64
Runs                                  float64
TerrainParks                          float64
LongestRun_mi                         float64
SkiableTerrain_ac                     float64
Snow Making_ac                        float64
daysOpenLastYear                      float64
yearsOpen                             float64
averageSnowfall                       float64
AdultWeekday                          float64
AdultWeekend                          float64
projectedDaysOpen                     float64
NightSkiing_ac                        float64
resorts_per_state                       int64
resorts_per_100kcapita                float64
resorts_per_100ksq_mile               float64
resort_skiable_area_ac_state_ratio    float64
resort_days_open_state_ratio          float64
resort_terrain_park_state_ratio       float64
resort_night_skiing_state_ratio       float64
total_chairs_runs_ratio               float64
total_chairs_skiable_ratio            float64
fastQuads_runs_ratio                  float64
fastQuads_skiable_ratio               float64
Runs_skiable_ratio                    float64
dtype: object

In [7]:
dfo=df.select_dtypes(include=['object']) # select object type columns
df = pd.concat([df.drop(dfo, axis=1), pd.get_dummies(dfo)], axis=1)

In [8]:
df.columns

Index(['summit_elev', 'vertical_drop', 'base_elev', 'trams', 'fastEight',
       'fastSixes', 'fastQuads', 'quad', 'triple', 'double',
       ...
       'state_Rhode Island', 'state_South Dakota', 'state_Tennessee',
       'state_Utah', 'state_Vermont', 'state_Virginia', 'state_Washington',
       'state_West Virginia', 'state_Wisconsin', 'state_Wyoming'],
      dtype='object', length=438)

In [9]:
df.shape

(330, 438)

In [10]:
df = df.loc[:,~df.columns.str.startswith('Name')]
df.columns

Index(['summit_elev', 'vertical_drop', 'base_elev', 'trams', 'fastEight',
       'fastSixes', 'fastQuads', 'quad', 'triple', 'double',
       ...
       'state_Rhode Island', 'state_South Dakota', 'state_Tennessee',
       'state_Utah', 'state_Vermont', 'state_Virginia', 'state_Washington',
       'state_West Virginia', 'state_Wisconsin', 'state_Wyoming'],
      dtype='object', length=109)

In [11]:
# first we import the preprocessing package from the sklearn library
from sklearn import preprocessing

# Declare an explanatory variable, called X,and assign it the result of dropping 'Name' and 'AdultWeekend' from the df
X = df.drop(['AdultWeekend'], axis = 1)

# Declare a response variable, called y, and assign it the AdultWeekend column of the df 
y = df['AdultWeekend'] 

# Here we use the StandardScaler() method of the preprocessing package, and then call the fit() method with parameter X 
scaler = preprocessing.StandardScaler().fit(X)

# Declare a variable called X_scaled, and assign it the result of calling the transform() method with parameter X 
X_scaled=scaler.transform(X)

In [12]:
X.shape

(330, 108)

In [13]:
y.shape

(330,)

In [14]:
# Import the train_test_split function from the sklearn.model_selection utility.  
from sklearn.model_selection import train_test_split

# Get the 1-dimensional flattened array of our response variable y by calling the ravel() function on y
y = y.ravel()

# Call the train_test_split() function with the first two parameters set to X_scaled and y 
# Declare four variables, X_train, X_test, y_train and y_test separated by commas 
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=1)

In [15]:
X_train.shape

(247, 108)

In [16]:
X_test.shape

(83, 108)

In [17]:
y_train.shape

(247,)

In [18]:
y_test.shape

(83,)

In [19]:
#Linear Regresion model
from sklearn import linear_model
from sklearn.metrics import explained_variance_score,mean_absolute_error
lm = linear_model.LinearRegression()
model = lm.fit(X_train,y_train)

In [20]:
# Make a variable called y_pred and assign it the result of calling predict() on our model variable with parameter X_test
y_pred = model.predict(X_test)

In [21]:
y_pred.mean()

66.59151281841302

In [22]:
# You might want to use the explained_variance_score() and mean_absolute_error() metrics.
# To do so, you will need to import them from sklearn.metrics. 
# You can plug y_test and y_pred into the functions to evaluate the model
from sklearn.metrics import explained_variance_score
evs = explained_variance_score(y_test, y_pred)
evs

0.9352875486547011

In [23]:
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(y_test, y_pred)
mae

5.624871115952266

In [24]:
model.intercept_

17.10646215925766

In [25]:
# You might want to make a pandas DataFrame displaying the coefficients for each state like so: 
pd.DataFrame(abs(lm.coef_), X.columns, columns=['Coefficient']).sort_values(by = ['Coefficient'], ascending = False)

                                 Coefficient
fastQuads_skiable_ratio           135.758292
fastQuads_runs_ratio               47.329434
resort_terrain_park_state_ratio    23.040427
fastEight                          19.344981
trams                              18.473654
...                                      ...
summit_elev                         0.003307
Snow Making_ac                      0.003155
yearsOpen                           0.002613
averageSnowfall                     0.000958
SkiableTerrain_ac                   0.000260

[108 rows x 1 columns]

In [26]:
# Rebuid model without the 'state' columns
X_train_2= X_train.loc[:,~X_train.columns.str.startswith('state')]
X_test_2= X_test.loc[:,~X_test.columns.str.startswith('state')]
X_train_2.shape

(247, 73)

In [27]:
X_test_2.shape

(83, 73)

In [28]:
y_train.shape

(247,)

In [29]:
y_test.shape

(83,)

In [30]:
#Apply Linear Regresion model on the updated dataframe without state columns
from sklearn import linear_model
from sklearn.metrics import explained_variance_score,mean_absolute_error
lm = linear_model.LinearRegression()
model_2 = lm.fit(X_train_2,y_train)

In [31]:
# Make a variable called y_pred_2 and assign it the result of calling predict() on our model variable with parameter X_test_2
y_pred_2 = lm.predict(X_test_2)
y_pred_2

array([ 63.8883876 ,  85.92262223,  79.63894345,  77.82278711,
       100.6997796 ,  74.5853789 ,  42.90311378,  46.78619428,
        91.34017396,  84.40625942,  50.61835176,  80.85523578,
        51.95410952,  68.87087605,  62.73006212,  91.87893553,
        39.05301186,  64.51140183,  54.19825543,  38.88628182,
        98.24950255,  36.78251698,  54.96770201,  49.68257961,
        46.20924685,  87.88446496,  72.16526605,  92.91635349,
        81.56606969,  64.42471984,  36.72508766,  59.02335944,
        77.22964865,  57.05807478,  73.91364426,  50.85101319,
        19.27528345,  30.22868467,  59.07128072,  37.44703732,
        48.48985375,  48.6682418 ,  85.28650944,  75.86022357,
        80.72815464,  56.39842146, 103.45839018, 175.86251294,
        36.80098931,  43.8438475 ,  57.03916498, 146.5984879 ,
        51.46220396,  37.69331939,  60.30021228,  43.84509362,
        89.19033094,  39.45308249, 119.58473591, 122.37294791,
        55.1366604 ,  46.54226613,  40.92395575,  82.55540081,
        61.68195994,  37.43972814,  34.4206762 , 101.83584071,
        61.60857419,  19.3918582 ,  66.6567475 , 153.47917757,
        58.51895371,  54.44235574,  76.4059531 ,  71.32684156,
        82.69596091,  62.60033415,  89.64336417,  65.21075987,
        46.24696188,  57.28392052,  40.88889062])

In [32]:
# You might want to use the explained_variance_score() and mean_absolute_error() metrics.
# To do so, you will need to import them from sklearn.metrics. 
# You can plug y_test and y_pred into the functions to evaluate the model
from sklearn.metrics import explained_variance_score
evs_2 = explained_variance_score(y_test, y_pred_2)
evs_2

0.9352875486546934

In [33]:
from sklearn.metrics import mean_absolute_error
mae_2 = mean_absolute_error(y_test, y_pred_2)
mae_2

5.624871115956513

In [34]:
# You might want to make a pandas DataFrame displaying the coefficients for each state like so: 
pd.DataFrame(abs(lm.coef_), X_train_2.columns, columns=['Coefficient']).sort_values(by = ['Coefficient'], ascending = False)

                                 Coefficient
fastQuads_skiable_ratio           135.758292
fastQuads_runs_ratio               47.329434
Region_Tennessee                   29.510175
resort_terrain_park_state_ratio    23.040427
fastEight                          19.344981
...                                      ...
summit_elev                         0.003307
Snow Making_ac                      0.003155
yearsOpen                           0.002613
averageSnowfall                     0.000958
SkiableTerrain_ac                   0.000260

[73 rows x 1 columns]

In [35]:
# Rebuid model without the 'summit_elev' and 'base_elev' columns
X_train_3 = X_train_2.drop(columns = ['summit_elev','base_elev'], axis = 1)
#X_train_3= X_train_2.loc[:,~X_train_2.columns.str.startswith('summit_')]
X_test_3 = X_test_2.drop(columns = ['summit_elev','base_elev'], axis = 1)
#X_train_3.columns

In [36]:
X_train_3.shape

(247, 71)

In [37]:
X_test_3.shape

(83, 71)

In [38]:
#Apply Linear Regresion model on the updated dataframe without state and summit_elev columns
from sklearn import linear_model
from sklearn.metrics import explained_variance_score,mean_absolute_error
lm = linear_model.LinearRegression()
model_3 = lm.fit(X_train_3,y_train)

In [39]:
# Make a variable called y_pred_3 and assign it the result of calling predict() on our model variable with parameter X_test_3
y_pred_3 = lm.predict(X_test_3)
y_pred_3

array([ 61.59843974,  86.71424957,  78.95389171,  76.48406975,
        99.9113595 ,  75.61022447,  42.71243736,  46.92323255,
        91.16718205,  85.24151197,  50.43535917,  80.62118758,
        50.69000013,  69.10477234,  62.51859897,  92.09119836,
        41.33786883,  65.8380547 ,  53.41276731,  38.2251467 ,
        99.95388087,  36.77630753,  55.49059737,  49.50600284,
        46.0930557 ,  88.6057172 ,  71.86123275,  93.95277596,
        80.72081533,  63.80072843,  35.78641534,  55.9713991 ,
        76.12084629,  56.71303613,  74.28002443,  50.41163844,
        19.01248392,  30.27555232,  59.67561404,  38.26374578,
        48.87820015,  50.68550946,  85.5063519 ,  75.80792375,
        79.82446377,  55.49379922, 105.53794339, 174.62600061,
        36.11365189,  43.17809147,  57.52150607, 147.44300119,
        51.77913719,  38.06493606,  60.57989017,  42.15094665,
        88.04076366,  39.73732354, 119.4351848 , 123.15609424,
        56.00641376,  45.58777991,  40.69431825,  83.15660574,
        61.48176961,  40.16623236,  33.69446519,  99.26118548,
        61.33162604,  18.43702882,  66.36695079, 152.10711503,
        59.09171425,  53.6646132 ,  76.14018551,  71.1057575 ,
        82.98701038,  63.53498025,  88.98290185,  70.77131098,
        46.5752843 ,  56.79326666,  40.2630634 ])

In [40]:
# You might want to use the explained_variance_score() and mean_absolute_error() metrics.
# To do so, you will need to import them from sklearn.metrics. 
# You can plug y_test and y_pred into the functions to evaluate the model

from sklearn.metrics import explained_variance_score
evs_3 = explained_variance_score(y_test, y_pred_3)
evs_3

0.9425550995326983

In [41]:
from sklearn.metrics import mean_absolute_error
mae_3 = mean_absolute_error(y_test, y_pred_3)
mae_3

5.413637351941676

In [42]:
# You might want to make a pandas DataFrame displaying the coefficients for each state like so: 
pd.DataFrame(abs(lm.coef_), X_train_3.columns, columns=['Coefficient']).sort_values(by = ['Coefficient'], ascending = False)

                                 Coefficient
fastQuads_skiable_ratio           104.881449
fastQuads_runs_ratio               32.983421
Region_Tennessee                   29.945543
resort_terrain_park_state_ratio    20.348949
fastEight                          17.718434
...                                      ...
yearsOpen                           0.002706
Snow Making_ac                      0.001721
vertical_drop                       0.000985
averageSnowfall                     0.000701
SkiableTerrain_ac                   0.000228

[71 rows x 1 columns]

In [43]:


#Identify the Final Model

#Model Selection:

#Model	Explained Variance	Mean Absolute Error	Features Dropped
#Model 1.	0.9352875486547011	5.624871115952266	-
#Model 2.	0.9352875486546934	5.624871115956513	'state'
#Model 3.	0.9425550995326983	5.413637351941676	'state','summit_elev','base_elev
#Conclusion Model 3 is the best model since due to highest explained variance and lowest mean absolute error. Considering different characteristics and vairables that apply to each resort, it is important for Big Mountain management to be able to stick to a model that is able to predict with higest confidence what variables/ factors would drive ski resort lift ticket prices since ticket pricing in order to increase the revenue and offset for the increasing CAPEX it incurred due to addition of a new chair lift device, and at the same time, low error rate. If you note, all 3 models are almost leading to same % confidence and the error is also somewhat in the same range. But going by the metrics as indicated in above table, Model 3 is best