In [35]:
import os
import pandas as pd
import datetime
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
from sklearn import linear_model
from sklearn.metrics import explained_variance_score,mean_absolute_error
%matplotlib inline

In [36]:
os.getcwd()

'C:\\Users\\Admin'

In [37]:
os.listdir()

['-Copy1.ipynb',
 '.anaconda',
 '.conda',
 '.condarc',
 '.fcc',
 '.gitconfig',
 '.ipynb',
 '.ipynb_checkpoints',
 '.ipython',
 '.jupyter',
 '.matplotlib',
 '._.DS_Store',
 '._DS_Store',
 '._Frequentist Inference Case Study - Part A (3).ipynb',
 '._Frequentist Inference Case Study - Part B (2).ipynb',
 '._insurance2.csv',
 '011_first_notebook.ipynb',
 '01_first_notebook-Copy1.ipynb',
 '01_first_notebook.ipynb',
 '01_first_noteboook.ipynb',
 '02_data_wrangling sada1.ipynb',
 '02_numpy_matplotlib.ipynb',
 '03.10-Working-With-Strings.ipynb',
 '03_exploratory_data_analysis1.ipynb',
 '04_preprocessing_and_training sada1.ipynb',
 '04_preprocessing_and_training.ipynb',
 '05_modeling.ipynb',
 '05_modelling .ipynb',
 '1581459544_Unit_4_Challenge_-_Tier_3.ipynb (1)',
 '3D Objects',
 'anaconda3',
 'api_data_wrangling_mini_project updated.ipynb',
 'AppData',
 'Application Data',
 'cancer_cervical.csv',
 'capstone two data wrangling.ipynb',
 'cervical c.ipynb',
 'check.ipynb',
 'Contacts',
 'Cookies',
 'CosineSimilarityCaseStudy',
 'Covid 19 pre-processing and training.ipynb',
 'Covid US CT-NY-MA.ipynb',
 'Covid19.png',
 'Crime Data USA 2019.csv sada.ipynb',
 'csv.ipynb',
 'data',
 'db.rsp',
 'Desktop',
 'Documents',
 'Downloads',
 'E3B8562DC9D54D90A2DF1C66C1FDB932.TMP',
 'Favorites',
 'Feb_Py_Prj_20.ipynb',
 'figures',
 'first.py',
 'good try.ipynb',
 'Google Drive',
 'googleplaystore.csv',
 'googleplaystore_user_reviews.csv',
 'Guided Capstone Project Report sada.ipynb',
 'Heart problem vs diabetes.ipynb',
 'heart_failure_clinical_records_dataset.csv',
 'hello_world.xlsx',
 'insurance2.csv',
 'IntelGraphicsProfiles',
 'Introduction.ipynb',
 'license.txt',
 'Links',
 'Local Settings',
 'Logistic Regression Advanced Case Study.ipynb',
 'london pjt.ipynb',
 'london.ipynb',
 'meteorites.ipynb',
 'MicrosoftEdgeBackups',
 'model performance metrics',
 'models',
 'model_pickle',
 'Music',
 'My Documents',
 'myfirst_project.ipynb',
 'NetHood',
 'NTUSER.DAT',
 'ntuser.dat.LOG1',
 'ntuser.dat.LOG2',
 'NTUSER.DAT{8086dd09-706d-11eb-a317-e19848bbad49}.TM.blf',
 'NTUSER.DAT{8086dd09-706d-11eb-a317-e19848bbad49}.TMContainer00000000000000000001.regtrans-ms',
 'NTUSER.DAT{8086dd09-706d-11eb-a317-e19848bbad49}.TMContainer00000000000000000002.regtrans-ms',
 'ntuser.ini',
 'OneDrive',
 'Oracle',
 'panda.ipynb',
 'pandasGraph.ipynb',
 'Pandas_api_read_Corona.ipynb',
 'Panda_Example_Graph_csv.ipynb',
 'Pictures',
 'pract 1-Copy1.ipynb',
 'pract 1.ipynb',
 'Prakash_Example.ipynb',
 'PrintHood',
 'Project Files',
 'Python-Matlab-Graph.ipynb',
 'py_alchemey_sql_server_ex.ipynb',
 'Read_Jason.ipynb',
 'Recent',
 'rough 2.ipynb',
 'rough project.ipynb',
 'S02_data_wrangling.ipynb',
 'S03_exploratory_data_analysis.ipynb',
 'S04- S05 preprocessing and training data devpmt  -Model.ipynb',
 'S06 Documentation.ipynb',
 'sample.xlsx',
 'Saved Games',
 'Searches',
 'SendTo',
 'site.py',
 'ski_data',
 'ski_data_cleaned_v1.csv',
 'ski_data_step3_features.csv',
 'ski_resort_data.csv',
 'ski_resort_pricing_model',
 'ski_resort_pricing_model.csv',
 'ski_resort_pricing_model.pkl',
 'Sound-London Borough.ipynb',
 'soundarya-project.ipynb',
 'sqlalchemy.ipynb',
 'SQLFiles Tier 1',
 'SQLFiles Tier 2',
 'SQL_Server_Connection.ipynb',
 'sql_server_connection_python.ipynb',
 'SSpringboard Regression Case Study - the Red Wine Dataset - Tier 3.ipynb',
 'SSSpringboard Apps project - Tier 3 - Complete.ipynb',
 'SSSpringboard Regression Case Study - the Red Wine Dataset - Tier 3.ipynb',
 'Start Menu',
 'state_summary_v1.csv',
 'step2_output.csv',
 'Success.ipynb',
 'Templates',
 'Unit 4 Challenge - Tier 1.ipynb',
 'Untitled Folder',
 'Untitled10.ipynb',
 'Untitled11.ipynb',
 'Untitled12.ipynb',
 'Untitled13.ipynb',
 'Untitled14.ipynb',
 'Untitled15.ipynb',
 'Untitled2.ipynb',
 'Untitled3.ipynb',
 'Untitled4.ipynb',
 'Untitled5.ipynb',
 'Untitled6.ipynb',
 'Untitled7.ipynb',
 'Untitled8.ipynb',
 'Untitled9.ipynb',
 'US Covid .ipynb',
 'us_counties_covid19_daily.csv',
 'us_covid19_daily.csv',
 'us_states_covid19_daily.csv',
 'us_state_vaccinations.csv',
 'Videos',
 'Week 3.ipynb',
 'xl_from_sql_pandas.ipynb',
 'XL_OpenPyExcel.ipynb',
 'XL_XLSWRITER.ipynb',
 '__MACOSX']

In [38]:
filename = 'C:\\Users\\Admin/ski_data_step3_features.csv'
df = pd.read_csv(filename)

df.head(5)

,Name,Region,state,summit_elev,vertical_drop,base_elev,trams,fastEight,fastSixes,fastQuads,...,resorts_per_100ksq_mile,resort_skiable_area_ac_state_ratio,resort_days_open_state_ratio,resort_terrain_park_state_ratio,resort_night_skiing_state_ratio,total_chairs_runs_ratio,total_chairs_skiable_ratio,fastQuads_runs_ratio,fastQuads_skiable_ratio,Runs_skiable_ratio
0,Alyeska Resort,Alaska,Alaska,3939,2500,250,1,0.0,0,2,...,0.450867,0.706140,0.434783,0.500000,0.948276,0.092105,0.004348,0.026316,0.001242,0.047205
1,Eaglecrest Ski Area,Alaska,Alaska,2600,1540,1200,0,0.0,0,0,...,0.450867,0.280702,0.130435,0.250000,NaN,0.111111,0.006250,0.000000,0.000000,0.056250
2,Hilltop Ski Area,Alaska,Alaska,2090,294,1796,0,0.0,0,0,...,0.450867,0.013158,0.434783,0.250000,0.051724,0.230769,0.100000,0.000000,0.000000,0.433333
3,Arizona Snowbowl,Arizona,Arizona,11500,2300,9200,0,0.0,1,0,...,1.754540,0.492708,0.514768,0.666667,NaN,0.145455,0.010296,0.000000,0.000000,0.070785
4,Sunrise Park Resort,Arizona,Arizona,11100,1800,9200,0,NaN,0,1,...,1.754540,0.507292,0.485232,0.333333,1.000000,0.107692,0.008750,0.015385,0.001250,0.081250

In [39]:
df = df.interpolate()
df.head(5)

,Name,Region,state,summit_elev,vertical_drop,base_elev,trams,fastEight,fastSixes,fastQuads,...,resorts_per_100ksq_mile,resort_skiable_area_ac_state_ratio,resort_days_open_state_ratio,resort_terrain_park_state_ratio,resort_night_skiing_state_ratio,total_chairs_runs_ratio,total_chairs_skiable_ratio,fastQuads_runs_ratio,fastQuads_skiable_ratio,Runs_skiable_ratio
0,Alyeska Resort,Alaska,Alaska,3939,2500,250,1,0.0,0,2,...,0.450867,0.706140,0.434783,0.500000,0.948276,0.092105,0.004348,0.026316,0.001242,0.047205
1,Eaglecrest Ski Area,Alaska,Alaska,2600,1540,1200,0,0.0,0,0,...,0.450867,0.280702,0.130435,0.250000,0.500000,0.111111,0.006250,0.000000,0.000000,0.056250
2,Hilltop Ski Area,Alaska,Alaska,2090,294,1796,0,0.0,0,0,...,0.450867,0.013158,0.434783,0.250000,0.051724,0.230769,0.100000,0.000000,0.000000,0.433333
3,Arizona Snowbowl,Arizona,Arizona,11500,2300,9200,0,0.0,1,0,...,1.754540,0.492708,0.514768,0.666667,0.525862,0.145455,0.010296,0.000000,0.000000,0.070785
4,Sunrise Park Resort,Arizona,Arizona,11100,1800,9200,0,0.0,0,1,...,1.754540,0.507292,0.485232,0.333333,1.000000,0.107692,0.008750,0.015385,0.001250,0.081250

In [40]:
Big_Mountain_row= df[df.Name == 'Big Mountain Resort']
Big_Mountain_row.head()

,Name,Region,state,summit_elev,vertical_drop,base_elev,trams,fastEight,fastSixes,fastQuads,...,resorts_per_100ksq_mile,resort_skiable_area_ac_state_ratio,resort_days_open_state_ratio,resort_terrain_park_state_ratio,resort_night_skiing_state_ratio,total_chairs_runs_ratio,total_chairs_skiable_ratio,fastQuads_runs_ratio,fastQuads_skiable_ratio,Runs_skiable_ratio
151,Big Mountain Resort,Montana,Montana,6817,2353,4464,0,0.0,0,3,...,8.161045,0.140121,0.129338,0.148148,0.84507,0.133333,0.004667,0.028571,0.001,0.035

In [41]:
ski_data = pd.read_csv('C:\\Users\\Admin/ski_resort_data.csv')
ski_data[ski_data.Name == 'Big Mountain Resort'].transpose()

                                   151
Name               Big Mountain Resort
Region                         Montana
state                          Montana
summit_elev                       6817
vertical_drop                     2353
base_elev                         4464
trams                                0
fastEight                          0.0
fastSixes                            0
fastQuads                            3
quad                                 2
triple                               6
double                               0
surface                              3
total_chairs                        14
Runs                             105.0
TerrainParks                       4.0
LongestRun_mi                      3.3
SkiableTerrain_ac               3000.0
Snow Making_ac                   600.0
daysOpenLastYear                 123.0
yearsOpen                         72.0
averageSnowfall                  333.0
AdultWeekday                      81.0
AdultWeekend                      81.0
projectedDaysOpen                123.0
NightSkiing_ac                   600.0

In [42]:
df.dtypes

Name                                   object
Region                                 object
state                                  object
summit_elev                             int64
vertical_drop                           int64
base_elev                               int64
trams                                   int64
fastEight                             float64
fastSixes                               int64
fastQuads                               int64
quad                                    int64
triple                                  int64
double                                  int64
surface                                 int64
total_chairs                            int64
Runs                                  float64
TerrainParks                          float64
LongestRun_mi                         float64
SkiableTerrain_ac                     float64
Snow Making_ac                        float64
daysOpenLastYear                      float64
yearsOpen                             float64
averageSnowfall                       float64
AdultWeekday                          float64
AdultWeekend                          float64
projectedDaysOpen                     float64
NightSkiing_ac                        float64
resorts_per_state                       int64
resorts_per_100kcapita                float64
resorts_per_100ksq_mile               float64
resort_skiable_area_ac_state_ratio    float64
resort_days_open_state_ratio          float64
resort_terrain_park_state_ratio       float64
resort_night_skiing_state_ratio       float64
total_chairs_runs_ratio               float64
total_chairs_skiable_ratio            float64
fastQuads_runs_ratio                  float64
fastQuads_skiable_ratio               float64
Runs_skiable_ratio                    float64
dtype: object

In [43]:
dfo=df.select_dtypes(include=['object']) # select object type columns
df = pd.concat([df.drop(dfo, axis=1), pd.get_dummies(dfo)], axis=1)

In [44]:
df.shape

(330, 438)

In [45]:
df = df.loc[:,~df.columns.str.startswith('Name')]
df.columns

Index(['summit_elev', 'vertical_drop', 'base_elev', 'trams', 'fastEight',
       'fastSixes', 'fastQuads', 'quad', 'triple', 'double',
       ...
       'state_Rhode Island', 'state_South Dakota', 'state_Tennessee',
       'state_Utah', 'state_Vermont', 'state_Virginia', 'state_Washington',
       'state_West Virginia', 'state_Wisconsin', 'state_Wyoming'],
      dtype='object', length=109)

In [46]:
# first we import the preprocessing package from the sklearn library
from sklearn import preprocessing

# Declare an explanatory variable, called X,and assign it the result of dropping 'Name' and 'AdultWeekend' from the df
X = df.drop(['AdultWeekend'], axis = 1)

# Declare a response variable, called y, and assign it the AdultWeekend column of the df 
y = df['AdultWeekend'] 

# Here we use the StandardScaler() method of the preprocessing package, and then call the fit() method with parameter X 
scaler = preprocessing.StandardScaler().fit(X)

# Declare a variable called X_scaled, and assign it the result of calling the transform() method with parameter X 
X_scaled=scaler.transform(X)

In [47]:
X.shape

(330, 108)

In [48]:
y.shape

(330,)

In [49]:
# Import the train_test_split function from the sklearn.model_selection utility.  
from sklearn.model_selection import train_test_split

# Get the 1-dimensional flattened array of our response variable y by calling the ravel() function on y
y = y.ravel()

# Call the train_test_split() function with the first two parameters set to X_scaled and y 
# Declare four variables, X_train, X_test, y_train and y_test separated by commas 
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=1)

In [50]:
#Linear Regresion model on testing data set
lm = linear_model.LinearRegression()
model = lm.fit(X_train,y_train)

In [51]:
# Make a variable called y_pred and assign it the result of calling predict() on our model variable with parameter X_test
y_pred = lm.predict(X_test)

In [52]:
# You might want to use the explained_variance_score() and mean_absolute_error() metrics.
# To do so, you will need to import them from sklearn.metrics. 
# You can plug y_test and y_pred into the functions to evaluate the model
evs = explained_variance_score(y_test, y_pred)
evs

0.9352875486547011

In [53]:
mae = mean_absolute_error(y_test, y_pred)
mae

5.624871115952266

In [54]:
print('explained_variance_score',explained_variance_score(y_test,y_pred))
print('mean_absolute_error',mean_absolute_error(y_test,y_pred))
print('The mean for Adult Weekend price', model.intercept_)

explained_variance_score 0.9352875486547011
mean_absolute_error 5.624871115952266
The mean for Adult Weekend price 17.10646215925766

In [55]:
pd.DataFrame(abs(model.coef_), X.columns, columns=['Coefficient']).sort_values(by=['Coefficient'], ascending=False).head(10)

                                 Coefficient
fastQuads_skiable_ratio           135.758292
fastQuads_runs_ratio               47.329434
resort_terrain_park_state_ratio    23.040427
fastEight                          19.344981
trams                              18.473654
triple                             18.355916
fastQuads                          18.353489
quad                               18.151551
double                             17.679554
surface                            17.110282

In [56]:
#Review the results

In [57]:
df.head().T

                          0       1       2        3        4
summit_elev          3939.0  2600.0  2090.0  11500.0  11100.0
vertical_drop        2500.0  1540.0   294.0   2300.0   1800.0
base_elev             250.0  1200.0  1796.0   9200.0   9200.0
trams                   1.0     0.0     0.0      0.0      0.0
fastEight               0.0     0.0     0.0      0.0      0.0
...                     ...     ...     ...      ...      ...
state_Virginia          0.0     0.0     0.0      0.0      0.0
state_Washington        0.0     0.0     0.0      0.0      0.0
state_West Virginia     0.0     0.0     0.0      0.0      0.0
state_Wisconsin         0.0     0.0     0.0      0.0      0.0
state_Wyoming           0.0     0.0     0.0      0.0      0.0

[109 rows x 5 columns]

In [58]:
Big_Mountain_row

,Name,Region,state,summit_elev,vertical_drop,base_elev,trams,fastEight,fastSixes,fastQuads,...,resorts_per_100ksq_mile,resort_skiable_area_ac_state_ratio,resort_days_open_state_ratio,resort_terrain_park_state_ratio,resort_night_skiing_state_ratio,total_chairs_runs_ratio,total_chairs_skiable_ratio,fastQuads_runs_ratio,fastQuads_skiable_ratio,Runs_skiable_ratio
151,Big Mountain Resort,Montana,Montana,6817,2353,4464,0,0.0,0,3,...,8.161045,0.140121,0.129338,0.148148,0.84507,0.133333,0.004667,0.028571,0.001,0.035

In [59]:
Big_Mountain_row[['Name','yearsOpen','averageSnowfall','SkiableTerrain_ac','summit_elev','vertical_drop']]

,Name,yearsOpen,averageSnowfall,SkiableTerrain_ac,summit_elev,vertical_drop
151,Big Mountain Resort,72.0,333.0,3000.0,6817,2353

In [60]:
def commonratio(a,b):
    first = a/(a+b)
    second = b/(a+b)
    return first,second

In [61]:
original = commonratio(6817,2353)
print(original)

(0.74340239912759, 0.25659760087241)

In [62]:
# Calculate for 'Big Powderhorn Mountain'
big_powderhorn = commonratio(1800,600)
print(big_powderhorn)

(0.75, 0.25)

In [63]:
## Calculate for 'Big Snow Resort - Indianhead Mountain'
big_indianhead = commonratio(1935,638)
big_indianhead = commonratio(1935,638)
print(big_indianhead)

(0.7520404197434901, 0.2479595802565099)

In [64]:
df[(df['summit_elev'] == 6817) & (df['vertical_drop'] == 2353)]

,summit_elev,vertical_drop,base_elev,trams,fastEight,fastSixes,fastQuads,quad,triple,double,...,state_Rhode Island,state_South Dakota,state_Tennessee,state_Utah,state_Vermont,state_Virginia,state_Washington,state_West Virginia,state_Wisconsin,state_Wyoming
151,6817,2353,4464,0,0.0,0,3,2,6,0,...,0,0,0,0,0,0,0,0,0,0

In [65]:
#using the whole dataset as the train set
X_train = X_scaled 

#scaled data for Big Mountain resort record
X_test_2 = X_scaled[Big_Mountain_row.index]

#train test data (ticket prices)
y_train = y 

#Test data  for Big Mountain resort record
y_test_2 = y[Big_Mountain_row.index]

# Make a variable called y_pred_2 and assign it the result of calling predict() on our model variable with parameter X_test_2
lm_2 = linear_model.LinearRegression()
model_2 = lm_2.fit(X_train,y_train)
y_pred_2 = model_2.predict(X_test_2)

In [66]:
print ("The Expected Adult weekend price is: $" + str(y_pred_2).replace('[','').replace(']',''))

The Expected Adult weekend price is: $82.8442565

In [67]:
actual = ("Actual price is: $ 81")
print(actual)

Actual price is: $ 81

In [73]:
#from sklearn import joblib
import pickle
s = pickle.dumps(model_2)
from joblib import dump, load
dump(model_2, 'models/regression_model_adultweekend.joblib')

['models/regression_model_adultweekend.joblib']

In [74]:
coeff_df = pd.DataFrame(abs(model_2.coef_), X.columns, columns=['Coefficient']).sort_values(by=['Coefficient'], ascending=False)

In [75]:
coeff_df

                            Coefficient
total_chairs                  89.089255
fastQuads                     36.079091
surface                       31.943400
double                        28.994411
triple                        26.555611
...                                 ...
Snow Making_ac                 0.053479
Region_Northern California     0.034311
state_Arizona                  0.021481
Region_Arizona                 0.021481
Region_Salt Lake City          0.006647

[108 rows x 1 columns]

In [76]:
data_path = pd.read_csv('C:\\Users\\Admin/ski_data_step3_features.csv')

In [77]:
print ("The current working directory is %s" % data_path)

The current working directory is                                   Name   Region    state  summit_elev  \
0                       Alyeska Resort   Alaska   Alaska         3939
1                  Eaglecrest Ski Area   Alaska   Alaska         2600
2                     Hilltop Ski Area   Alaska   Alaska         2090
3                     Arizona Snowbowl  Arizona  Arizona        11500
4                  Sunrise Park Resort  Arizona  Arizona        11100
..                                 ...      ...      ...          ...
325               Meadowlark Ski Lodge  Wyoming  Wyoming         9500
326          Sleeping Giant Ski Resort  Wyoming  Wyoming         7428
327                   Snow King Resort  Wyoming  Wyoming         7808
328  Snowy Range Ski & Recreation Area  Wyoming  Wyoming         9663
329                White Pine Ski Area  Wyoming  Wyoming         9500

     vertical_drop  base_elev  trams  fastEight  fastSixes  fastQuads  ...  \
0             2500        250      1        0.0          0          2  ...
1             1540       1200      0        0.0          0          0  ...
2              294       1796      0        0.0          0          0  ...
3             2300       9200      0        0.0          1          0  ...
4             1800       9200      0        NaN          0          1  ...
..             ...        ...    ...        ...        ...        ...  ...
325           1000       8500      0        NaN          0          0  ...
326            810       6619      0        0.0          0          0  ...
327           1571       6237      0        NaN          0          0  ...
328            990       8798      0        0.0          0          0  ...
329           1100       8400      0        NaN          0          0  ...

     resorts_per_100ksq_mile  resort_skiable_area_ac_state_ratio  \
0                   0.450867                            0.706140
1                   0.450867                            0.280702
2                   0.450867                            0.013158
3                   1.754540                            0.492708
4                   1.754540                            0.507292
..                       ...                                 ...
325                 8.178872                            0.045991
326                 8.178872                            0.028208
327                 8.178872                            0.061321
328                 8.178872                            0.011498
329                 8.178872                            0.056722

     resort_days_open_state_ratio  resort_terrain_park_state_ratio  \
0                        0.434783                         0.500000
1                        0.130435                         0.250000
2                        0.434783                         0.250000
3                        0.514768                         0.666667
4                        0.485232                         0.333333
..                            ...                              ...
325                           NaN                         0.071429
326                      0.085196                         0.071429
327                      0.168994                         0.142857
328                      0.182961                         0.142857
329                           NaN                              NaN

     resort_night_skiing_state_ratio  total_chairs_runs_ratio  \
0                           0.948276                 0.092105
1                                NaN                 0.111111
2                           0.051724                 0.230769
3                                NaN                 0.145455
4                           1.000000                 0.107692
..                               ...                      ...
325                              NaN                 0.214286
326                              NaN                 0.062500
327                         1.000000                 0.093750
328                              NaN                 0.151515
329                              NaN                 0.080000

     total_chairs_skiable_ratio  fastQuads_runs_ratio  \
0                      0.004348              0.026316
1                      0.006250              0.000000
2                      0.100000              0.000000
3                      0.010296              0.000000
4                      0.008750              0.015385
..                          ...                   ...
325                    0.010000              0.000000
326                    0.016304              0.000000
327                    0.007500              0.000000
328                    0.066667              0.000000
329                    0.005405              0.000000

     fastQuads_skiable_ratio  Runs_skiable_ratio
0                   0.001242            0.047205
1                   0.000000            0.056250
2                   0.000000            0.433333
3                   0.000000            0.070785
4                   0.001250            0.081250
..                       ...                 ...
325                 0.000000            0.046667
326                 0.000000            0.260870
327                 0.000000            0.080000
328                 0.000000            0.440000
329                 0.000000            0.067568

[330 rows x 39 columns]

In [79]:
# Write your coefficient dataframe to csv 
coeff_df.to_csv('model performance metrics', index=False)